* {
  color: #ececec;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  background-color: #212121;
  display: flex;
  min-height: 100vh;
  width: 100vw;
}
